# Environment / secrets
.env
.env.*
!.env.example
!.env.sample

# Certificates & keys
*.pem
*.key
*.p12
*.keystore
*.jks

# Backend local databases
backend/prisma/*.db
backend/prisma/*.db-journal8d8974
